* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.App {
}

.schd-wrapper {
    padding: 0 16px;
    max-width: 1200px;
    margin: 0 auto;
}

.profile-container {
    padding: 32px;
    max-width: 380px;
    margin: 0 auto;
}

.profile-header {
    font-size: 32px;
    margin-bottom: 32px;
}

.profile-lineblock {
    border: 1px solid black;
    padding: 10px 0;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-property {
    font-size: 24px;
}
